# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# IMDb raw and processed data
data/raw/
data/processed/

# Machine learning models
models/*.pkl
models/*.joblib

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log